services:
  web:
    build: .
    ports:
      - "5001:5000"
      - "5678:5678"
    volumes:
      - .:/app
      # Use debugpy to enable debugging
      # Install debugpy and run the Flask app with it
    command: ["sh", "-c", "pip install debugpy -t /tmp && python /tmp/debugpy --wait-for-client --listen 0.0.0.0:5678 -m flask run --no-debugger --no-reload --host=0.0.0.0 --port 5000"]

# Run Command: docker compose -f docker-compose.yml -f docker-compose.debug.yml up
