version: '3'
services:
  web:
    build: .
    working_dir: /app
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - FLASK_ENV=development
    command: flask run --host=0.0.0.0 --port=5000 --reload

# Run Command for hot reloading: docker compose -f docker-compose.yml up
